- content_for :title do
  Projectile
%h2 Editing #{@projectile.name}  
= image_tag @projectile.photo.url(:small)
%p
  = link_to image_tag('icon_small_larrow.png'), memebers_projectiles_path
  = link_to "Back to list", members_projectiles_path
  = link_to image_tag('icon_small_delete.png'), members_projectile_path(@projectile)
  = link_to "Delete", members_projectile_path(@projectile)

  
%p created by #{@projectile.user} on #{@projectile.created_at.strftime("%b %d, %Y")}
= render :partial => 'form'
