- content_for :title do
  Projectiles

%p#newLink= link_to "New Projectile", new_members_projectile_path

%ul
  - for projectile in @projectile
    %li
      = link_to projectile.name, members_projectile_path(projectile)
      by 
      = projectile.user
      (
      = pluralize( projectile.cost, 'ArmadaBuck')
      )
      = link_to image_tag("icon_small_show.png"), members_projectile_path(projectile)
      %p= h projectile.description
      - permitted_to? :edit, :projectile do
        = link_to 'Edit', edit_members_projectile_path(projectile)
        = link_to 'Destroy', members_projectile_path(projectile), :confirm => 'Are you sure?', :method => :delete

