<h1>New favorite</h1>

<% form_for(@favorite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :projectile_id %><br />
    <%= f.text_field :projectile_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', favorites_path %>