- content_for :title do
  Projectiles

%p#newLink= link_to "New Projectile", new_projectile_path

%ul
  - for projectile in @projectiles
    %li
      = link_to projectile.name, projectile
      by 
      = projectile.user
      (
      = pluralize( projectile.cost, 'ArmadaBuck')
      )
      = link_to image_tag("icon_small_show.png"), projectile
      %p= h projectile.description
      /%td= link_to 'Edit', edit_projectile_path(projectile)
      /%td= link_to 'Destroy', projectile, :confirm => 'Are you sure?', :method => :delete

