- content_for :title do
  Projectile
%h2= @projectile.name

%div
  = link_to image_tag('icon_small_larrow.png'), projectiles_path
  = link_to "Back to list", projectiles_path
  - if current_user == @projectile.user || (has_role?(:administrator) || has_role?(:developer))
    = link_to image_tag('icon_small_edit.png'), edit_members_projectile_path(@projectile)
    = link_to "Edit", edit_members_projectile_path(@projectile)
    = link_to image_tag('icon_small_delete.png'), members_projectile_path(@projectile), :confirm => 'Are you sure?', :method => :delete
    = link_to "Delete", members_projectile_path(@projectile), :confirm => 'Are you sure?', :method => :delete
  -if current_user
    = link_to image_tag('icon_small_new.png'), new_members_projectile_path
    = link_to "New Projectile", new_members_projectile_path
    = render :partial => 'favbutton', :locals => { :projectile => @projectile, :current_user => @current_user }
  - else  
    = link_to image_tag('icon_small_new.png'), login_path
    = link_to "New Projectile", login_path


%p created by #{@projectile.user} on #{@projectile.created_at.strftime("%b %d, %Y")}

#photo-wrapper
  = image_tag @projectile.photo.url(:medium)
#main
  %p
    %strong Name:
    =h @projectile.name
  %p
    %strong Type:
    =h @projectile.ptype
  %p
    %strong Cost:
    =h @projectile.cost
  %p
    =h @projectile.description
